GroceryValue.Client/ServiceReferences/ServiceReference/GroceryValue.Library.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GroceryValue.Library" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GroceryValue.Library" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfChain">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Chain" nillable="true" type="tns:Chain" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfChain" nillable="true" type="tns:ArrayOfChain" />
  <xs:complexType name="Chain">
    <xs:sequence>
      <xs:element minOccurs="0" name="ChainId" type="xs:long" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Chain" nillable="true" type="tns:Chain" />
  <xs:complexType name="ArrayOfStore">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Store" nillable="true" type="tns:Store" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStore" nillable="true" type="tns:ArrayOfStore" />
  <xs:complexType name="Store">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StoreId" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Store" nillable="true" type="tns:Store" />
  <xs:complexType name="ArrayOfItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Item" nillable="true" type="tns:Item" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfItem" nillable="true" type="tns:ArrayOfItem" />
  <xs:complexType name="Item">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" type="xs:float" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Item" nillable="true" type="tns:Item" />
  <xs:complexType name="ArrayOfGrocery">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Grocery" nillable="true" type="tns:Grocery" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGrocery" nillable="true" type="tns:ArrayOfGrocery" />
  <xs:complexType name="Grocery">
    <xs:sequence>
      <xs:element minOccurs="0" name="GroceryId" type="xs:long" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Grocery" nillable="true" type="tns:Grocery" />
</xs:schema>