GroceryValue.Client/ServiceReferences/ServiceReference/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/GroceryValue.Library" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="GetChains">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChainsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/GroceryValue.Library" minOccurs="0" name="GetChainsResult" nillable="true" type="q1:ArrayOfChain" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSortedChains">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSortedChainsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/GroceryValue.Library" minOccurs="0" name="GetSortedChainsResult" nillable="true" type="q2:ArrayOfChain" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStores">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="chainId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStoresResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/GroceryValue.Library" minOccurs="0" name="GetStoresResult" nillable="true" type="q3:ArrayOfStore" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSortedStores">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="chainId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSortedStoresResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/GroceryValue.Library" minOccurs="0" name="GetSortedStoresResult" nillable="true" type="q4:ArrayOfStore" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetItems">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="storeId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetItemsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/GroceryValue.Library" minOccurs="0" name="GetItemsResult" nillable="true" type="q5:ArrayOfItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSortedItems">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="storeId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSortedItemsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/GroceryValue.Library" minOccurs="0" name="GetSortedItemsResult" nillable="true" type="q6:ArrayOfItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGroceries">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="storeIds" nillable="true" type="q7:ArrayOflong" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGroceriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/GroceryValue.Library" minOccurs="0" name="GetGroceriesResult" nillable="true" type="q8:ArrayOfGrocery" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSortedGroceries">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="storeIds" nillable="true" type="q9:ArrayOflong" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSortedGroceriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/GroceryValue.Library" minOccurs="0" name="GetSortedGroceriesResult" nillable="true" type="q10:ArrayOfGrocery" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPriceLists">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="storeIds" nillable="true" type="q11:ArrayOflong" />
        <xs:element xmlns:q12="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="groceryIds" nillable="true" type="q12:ArrayOflong" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPriceListsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetPriceListsResult" nillable="true" type="q13:ArrayOfArrayOffloat" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMostExpensiveItems">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="storeId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMostExpensiveItemsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/GroceryValue.Library" minOccurs="0" name="GetMostExpensiveItemsResult" nillable="true" type="q14:ArrayOfItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMostInexpensiveItems">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="storeId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMostInexpensiveItemsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/GroceryValue.Library" minOccurs="0" name="GetMostInexpensiveItemsResult" nillable="true" type="q15:ArrayOfItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadItemsToDatabase">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="storeId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadItemsToDatabaseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoadItemsToDatabaseResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>